# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env
docs/
# Flask
instance/
.webassets-cache
flask_session/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
!static/id_cards/.gitkeep
migrations/
logs/
*.log

# Security
.env
.flaskenv
*.pem
*.key
*.cert

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Compiled files
*.pyc
*.pyo
*.pyd
.Python
*.so

# Testing
.coverage
.register_admin_sha602hid43ano
htmlcov/
.tox/
.nox/
.pytest_cache/
coverage.xml
*.cover